body {
   	font-family: Helvetica, Arial, sans-serif;
    color: #3a3a3a;
}

h1 {
   	font-size: 1.8em;
    margin: 0;
    padding-top: 0.2em;
}

span {
    font-weight: bolder;
}

img {
    width: 21.75em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.2em;
    border: 1px solid #cfcfcf;
}

#container, #card {
  	border: 1px solid #cfcfcf;
    border-radius: 0.2em;
}

#container {
  	padding: 0.7em;
  	box-shadow: 1px 2px 3px 1px #cfcfcf;
    width: 21.85em;
}

#card {
    padding: 0 1em;
    font-size: 0.88em;
    letter-spacing: 0.1px;
    text-align: justify;
}

#interesting-fact {
    color: #5f5f5f;
  	font-style: italic;
}

#facts {
    list-style-type: none;
    padding:0px;
    line-height: 1.3em;
}

#summary {
    padding-bottom: 0.2em;
}
